<div class="fixed-top">
  <nav
    class="navbar navbar-light custom-navbar"
    style="background-color: #00004d"
  >
    <div class="container-fluid">
      <img
        src="assets/TLS_SS_white.png"
        alt=""
        width="230"
        height="auto"
        class="d-inline-block align-text-top"
      />

      <div class="rounded float-right">
        <img
          src="assets/Shared Image.png"
          alt="logo"
          height="auto"
          width="50"
        />
      </div>
    </div>
  </nav>
</div>
<div class="container content-below-navbar mt-4">
  <div class="text-center">
    <p>
      At TransPerfect Legal Solutions (TLS), we understand that our legal
      clients need much more than translation and language services to support
      their global litigation and discovery strategies. We also know that having
      a comprehensive suite of support offerings under one roof—supplied through
      a single point of contact—ensures case-level continuity throughout the
      life of the matter. In turn, lawyers, support staff, and corporate counsel
      can focus on what they do best, winning.
    </p>
    <p>Click to access the Claimant Form!</p>
    <button class="btn btn-dark">
      <a
        [routerLink]="'claimant-form'"
        target="_blank"
        style="text-decoration: none; color: azure"
      >
        Click
      </a>
    </button>
  </div>
</div>
