<div class="fixed-top">
  <nav
    class="navbar navbar-light custom-navbar"
    style="background-color: #00004d"
  >
    <div class="container-fluid">
      <img
        src="assets/TLS_SS_white.png"
        alt=""
        width="230"
        height="auto"
        class="d-inline-block align-text-top"
      />

      <div class="rounded float-right">
        <img
          src="assets/Shared Image.png"
          alt="logo"
          height="auto"
          width="50"
        />
      </div>
    </div>
  </nav>
</div>
<div class="container content-below-navbar mt-4">
  <router-outlet></router-outlet>
</div>
